.input-wrapper {
    width: 100%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: inherit
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}