.page-container-login {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}

.page-container-login h2 {
    align-self: center;
    font-size: 24px;
}

.page-container-login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px 90px;
    border-radius: 10px;
}

.page-container-login form button {
    align-self: center;
}