.btn {
    border-radius: 6px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: bolder;
    padding: 8px 24px;
    cursor: pointer;
    transition: border-color 0.25s;
}

.btn:hover {
    border-color: #f9f9f9;
}

/*!*<--------------->  1.1 Colour   <--------------->*!*/

.btn-green {
    background-color: var(--main-green);
    color: white;
}

.btn-white {
    background-color: white;
    color: var(--main-black);
}