/*!*<--------------->  1. SMALL TILES CONTAINER   <--------------->*!*/

.small-tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

/*!*<--------------->  2. BIG TILES CONTAINER   <--------------->*!*/

.big-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px;
}

section {
    background-color: #F6F3EF;
    font-size: 10px;
    height: 400px;
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    max-width: 200px;
}
