/*!*<--------------->  1. EXPLORE TILE   <--------------->*!*/

.exploretile-outer-container  {
    display: flex;
    width: 100%;
    height: 260px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 24px;
}

/*!*<--------------->  1.1 Image   <--------------->*!*/

.exploretile-image {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
}

.exploretile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*!*<--------------->  1.2 Text   <--------------->*!*/

.exploretile-text {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    text-align: left;
    font-size: 10px;
}

article p {
    font-size: 14px;
}

/*!*<--------------->  1.3 Link   <--------------->*!*/

.exploretile-link {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
}