/*!*<--------------->  2.1 Navbar   <--------------->*!*/

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--main-white);
    z-index: 1000;
}

.navigation-logo {
    display: flex;
    align-items: center;
}

.logo-as-text {
    text-decoration: none;
    color: var(--main-white);
    font-weight: bolder;
    font-size: 1.5rem;
}

/*.logo-image {*/
/*    height: 80px;*/
/*    width: auto;*/
/*}*/

.navigation-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.active-menu-link {
    border-bottom: 0.5px solid var(--main-white);
    text-decoration: none;
    font-weight: bolder;
    color: var(--main-white);
}

.default-menu-link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-weight: bolder;
    list-style: none;
    color: white;
}


/*!*<--------------->  2.2 Header   <--------------->*!*/


.header-img {
    width: 100%;
    height: 40vh;

    background: url('../../assets/matthew-smith-Rfflri94rs8-unsplash.jpg') no-repeat center bottom fixed;
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-white);
}
