/*!*<--------------->  2.1 Navbar   <--------------->*!*/

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--main-white);
}

.navigation-logo {
    display: flex;
    align-items: center;
}

.logo-as-text {
    text-decoration: none;
    color: var(--main-white);
    font-weight: bolder;
    font-size: 1.5rem;
}

.navigation-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}


/*!*<--------------->  2.2 Header   <--------------->*!*/


.header-img {
    width: 100%;
    height: 50vh;
    background: url("../../assets/4098452.jpg") no-repeat center center fixed;
    /*background: url('../../assets/matthew-smith-Rfflri94rs8-unsplash.jpg') no-repeat center bottom fixed;*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
