.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--main-black);
    color: var(--main-white);
    border-bottom: 1px solid #ddd;
}

.navigation-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    width: auto;
}

.navigation-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.active-menu-link {
    border-bottom: 1px solid var(--main-green);
    text-decoration: none;
    font-weight: bolder;
    color: var(--main-green);
}

.default-menu-link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-weight: bolder;
    list-style: none;
    color: white;
}