button {
    border-radius: 6px;
    border: 1px solid transparent;
    color: white;
    background-color: green;
    font-size: 12px;
    padding: 8px 24px;
    text-transform: lowercase;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #f9f9f9;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}