/*!*<--------------->  1. PROFILE INFO   <--------------->*!*/

.profile-info-outer-container  {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 48px;
}

/*!*<--------------->  1.1 Image   <--------------->*!*/

.profile-info-image {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.profile-info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*!*<--------------->  1.2 Text   <--------------->*!*/

.profile-info-text {
    flex: 1;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    padding: 24px 24px 24px 48px;
    text-align: left;
    font-size: 10px;
}

.profile-info-text p {
    font-size: 14px;
}