/*!*<--------------->  1. FOOTER   <--------------->*!*/
.outer-container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--main-white);
}

.footer-logo-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*!*<--------------->  1.1 Logo   <--------------->*!*/

.footer-logo {
    display: flex;
    width: 250px;
}

/*!*<--------------->  1.2 Links   <--------------->*!*/

.footer-links {
    text-decoration: none;
    list-style: none;
    color: var(--main-black);
}

/*!*<--------------->  1.3 Quote   <--------------->*!*/

.footer-quote {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-decoration: none;
    color: var(--main-black);
}