/*!*<--------------->  1. PARKDETAILS INFO   <--------------->*!*/

.page-container-parkdetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 48px;
    box-sizing: border-box;
    height: auto;
}

/*!*<--------------->  1.1 Image   <--------------->*!*/

.parkdetails-park-image {
    flex: 1;
    height: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.parkdetails-park-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*!*<--------------->  1.2 Title & Buttons  <--------------->*!*/

.parkdetails-bar-full {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    height: 48px;
    width: 100%;
    border-radius: 15px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.parkdetails-bar-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.parkdetails-park-location {
    font-style: italic;
}

.parkdetails-park-title {
    font-weight: bolder;
    font-size: 2rem;
    line-height: 1.1;
}

/*!*<--------------->  1.3 Text   <--------------->*!*/

.parkdetails-activities-list {
    padding-left: 20px;
}

/*!*<--------------->  2.0 TOOLTIP   <--------------->*!*/

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;
    bottom: 120%; /* Net boven de knop */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
}

