.wide-button {
    width: 280px;
    padding: 12px 48px;
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #007553;
    color: white;

    font-size: 16px;
    font-weight: bolder;

    text-transform: uppercase;
    cursor: pointer;
    transition: border-color 0.25s;
}

.wide-button:hover {
    border-color: #f9f9f9;
}
