/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/*<--------------->  1. Global Styles   <--------------->*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*///////////////////////*/

main {
    margin: 24px 0;
    display: flex;
    justify-content: center;
}




/*/////////////////*/


/* <-------------------->  2. Areas <--------------------> */
/*<--------------->  2.1 Navigation   <--------------->*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 1;
}

nav a,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/*!*<--------------->  2.2 Header   <--------------->*!*/

header {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./assets/matthew-smith-Rfflri94rs8-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}


header h1 {
    font-size: 72px;
    padding: 48px 0;
    color: white;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

/*<--------------->  2.3 Products   <--------------->*/

/*<--------------->  2.4    <--------------->*/

/*<--------------->  2.5 Tiles   <--------------->*/



/*<--------------->  2.6 Footer   <--------------->*/
