/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/*<--------------->  1. Global Styles   <--------------->*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*///////////////////////*/

main {
    margin: 24px 0;
    display: flex;
    justify-content: center;
}



/*/////////////////*/


/* <-------------------->  2. Areas <--------------------> */

.outer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 48px;
    background-color: var(--main-beige);
    color: var(--main-black);
}

/*<--------------->  2.1 Navigation   <--------------->*/

/*<--------------->  2.3 Products   <--------------->*/

/*<--------------->  2.4    <--------------->*/

/*<--------------->  2.5 Tiles   <--------------->*/



/*<--------------->  2.6 Footer   <--------------->*/
