@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=UnifrakturMaguntia&family=Vujahday+Script&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/*<--------------->  1. Global Styles   <--------------->*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*///////////////////////*/

main {
    margin: 24px 0;
    display: flex;
    justify-content: center;
}

/*/////////////////*/


/* <-------------------->  2. Areas <--------------------> */

.outer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 48px;
    background-color: var(--main-beige);
    color: var(--main-black);
}

/*<--------------->  2.1 Navigation   <--------------->*/

.active-menu-link {
    border-bottom: 0.5px solid var(--main-white);
    text-decoration: none;
    font-weight: bolder;
    color: inherit;
}

.default-menu-link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-weight: bolder;
    list-style: none;
    color: inherit;
}

/*<--------------->  2.3 Products   <--------------->*/

/*<--------------->  2.4    <--------------->*/

/*<--------------->  2.5 Tiles   <--------------->*/

/*<--------------->  2.6 Footer   <--------------->*/
