/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/*<--------------->  1. Global Styles   <--------------->*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* <-------------------->  2. Areas <--------------------> */
/*<--------------->  2.1 Navigation   <--------------->*/


/*<--------------->  2.2 Header   <--------------->*/

/*<--------------->  2.3 Products   <--------------->*/

/*<--------------->  2.4    <--------------->*/

/*<--------------->  2.5 Tiles   <--------------->*/



/*<--------------->  2.6 Footer   <--------------->*/


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
