.page-container-not-found {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-container-not-found a:visited {
    text-decoration: none;
    color: inherit;
}