/*!*<--------------->  1.TINYTILE   <--------------->*!*/

.article-outer-container  {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 16px;
    padding: 24px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}

/*!*<--------------->  1.1 Image   <--------------->*!*/

.article-image {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*!*<--------------->  1.2 Text   <--------------->*!*/

.article-text {
   margin-top: auto;
   text-align: left;
}

article p {
    font-size: 14px;
}

/*!*<--------------->  1.3 Span   <--------------->*!*/

article span {
    background-color: var(--main-green);
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    color: white;
    font-size: 12px;
    padding: 12px;
}